<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Stuff
  </title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/argon-design-system.css') }}">
  <link href="./assets/css/argon-design-system.css?v=1.2.2" rel="stylesheet" />

  <style>
      body {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }
  </style>
</head>

<body class="index-page">
<div class="wrapper">
    <div class="section section-components pb-0" id="section-components">
        <div class="container">


    <div>
        <h1 class="display-1 mb-0">Welcome to <b>Mauka</b></h1>
    </div>
    <div style="margin-top: 2em; margin-bottom: 2em;">
        <form action="{{ url_for('search') }}" method="post" style="margin-top: 0.5em;">
            <div class="mb-3">
                <input style="font-size: 2em;" type="text" class="form-control" name="query" id="query" placeholder="City" required>
            </div>
            <button style="font-size: 1.5em;" class="btn btn-primary btn-lg btn-block" type="submit">GET STARTED</button>
        </form>
    </div>

    <div style="margin-top: 4em;">
    <h1><b>Mauka</b> informs you about the hottest career opportunities in your area, 
        and how to get prepared for them, <b>fast.</b></h1>
    </div>

    <div style="margin-top: 2em; ">
        <h5 class="display-4">Why Mauka?</h5>
        <p style="font-size: 1.5em;">Get up to speed for your next career move with curated educational and vocational content from all over the internet. 
            You can also compare and contrast various professions by their popularity and hiring status. Mauka covers job and trade markets in over <b>422</b> 
        cities and towns in India. With a content network consisting of more than <b>150,000</b> articles and videos from YouTube, Medium, Khan Academy, we strive to perfectly curate the educational
    content that will quickly get you on track to try your hand at a new profession. </p>
    </div>

    </div>
    </div>
</div>
</body>

</html>